.name{
    text-align: center;
    width:3oopx;
    height: 300px ;
   margin-left: 500px;
   margin-right: 500px; 
    background-color: aquamarine;
}

.tube{
    text-align: left;
    font-size: large;
     
} 

.resume{
    margin-left: 400px;
    background-color: chartreuse;

}


.your{
    background-color: aqua;
}